
Lab_3/.vs/Lab_3/v16/.suo
Lab_3/.vs/Lab_3/v16/Server/sqlite3/db.lock
Lab_3/.vs/Lab_3/v16/Server/sqlite3/storage.ide
Lab_3/.vs/Lab_3/v16/Server/sqlite3/storage.ide-shm
Lab_3/.vs/Lab_3/v16/Server/sqlite3/storage.ide-wal
Lab_3/bin/Debug/netcoreapp3.1/Lab_3.deps.json
Lab_3/bin/Debug/netcoreapp3.1/Lab_3.dll
Lab_3/bin/Debug/netcoreapp3.1/Lab_3.pdb
Lab_3/bin/Debug/netcoreapp3.1/Lab_3.runtimeconfig.dev.json
Lab_3/bin/Debug/netcoreapp3.1/Lab_3.runtimeconfig.json
Lab_3/obj/Debug/netcoreapp3.1/Lab_3.AssemblyInfo.cs
Lab_3/obj/Debug/netcoreapp3.1/Lab_3.AssemblyInfoInputs.cache
Lab_3/obj/Debug/netcoreapp3.1/Lab_3.assets.cache
Lab_3/obj/Debug/netcoreapp3.1/Lab_3.csproj.FileListAbsolute.txt
Lab_3/obj/Debug/netcoreapp3.1/Lab_3.csprojAssemblyReference.cache
Lab_3/obj/Debug/netcoreapp3.1/Lab_3.dll
Lab_3/obj/Debug/netcoreapp3.1/Lab_3.pdb
Lab_3/obj/Lab_3.csproj.nuget.cache
Lab_3/obj/Lab_3.csproj.nuget.dgspec.json
Lab_3/obj/Lab_3.csproj.nuget.g.props
Lab_3/obj/Lab_3.csproj.nuget.g.targets
Lab_3/obj/project.assets.json
